<section data-ng-controller="ObjectsIndexController">

	<a href="/#!/objects/create">Create Object</a><br/><br/><br/>

	<label class="control-label" for="term">Search</label>
	<input type="text" data-ng-model="term" id="term" ng-change="searchObjects()"></input>

	<table ng-show="objects" class="controls table table-condensed">
		<thead>
			<tr>
				<th>Objects</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="object in objects">
				<td ng-hide="ref._id"><a data-ng-href="#!/object/{{object._id}}">{{object.name}}</a></td>
				<td><button ng-click="deleteObject(object)">Delete Object</button></td>
			</tr>
		</tbody>
	</table>

	<chart-viz val="data"></chart-viz>
</section>