<section data-ng-controller="ObjectsShowController">
	<div class="form-horizontal">
		<button ng-show="idView" ng-click="editToggle()">Edit</button>

		<div class="control-group">
			<label class="control-label" for="title">Name</label>
			<div class="controls">
				<input ng-show="editMode" type="text" data-ng-model="obj.name" id="name" placeholder="Name" required>
				<div ng-hide="editMode">{{obj.name}}</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Boolean</label>
			<div class="controls">
				<textarea ng-show="editMode" data-ng-model="obj.boolean" id="boolean" cols="30" rows="10" placeholder="Boolean"></textarea>
				<div ng-hide="editMode">{{obj.boolean}}</div>
			</div>
		</div>
		<br/>
		<button ng-click="toggleTwitterBoolean()">Twitter Boolean</button>
		<br/>
		<div ng-show="toggleTwitterBool" class="control-group">
			<label class="control-label" for="content">Twitter Boolean Toggle</label>
			<div class="controls">
				<textarea ng-show="editMode" data-ng-model="obj.twitter_boolean" id="twitter_boolean" cols="30" rows="10" placeholder="Twitter Boolean"></textarea>
				<div ng-hide="editMode">{{obj.twitter_boolean}}</div>
			</div>
		</div>
		<br/>

	</div>

	<div ng-repeat="type in types">
		<div class="control-group">
			<div class="controls" ng-show="editMode || !idView">
				<button ng-hide="addingMode[type.name]" ng-click="addReferenceName(type.name)">Add {{type.full_name}}</button>
				<div ng-show="addingMode[type.name]">
					<label>Node Name</label>
					<input type="text" data-ng-model="addedRef[type.name].name" id="addedRef[type.name].name" bs-typeahead="typeaheadFn"></input>
					<label>Boolean</label>
					<input type="text" data-ng-model="addedRef[type.name].boolean" id="addedRef[type.name].boolean"></input>
					<label>Twitter Boolean</label>
					<input type="text" data-ng-model="addedRef[type.name].twitter_boolean" id="addedRef[type.name].twitter_boolean"></input>
					<button ng-click="saveNewRef(type.name)">Save</button>
				</div>
			</div>
			<table class="controls table table-condensed">
				<thead>
					<tr>
						<th>{{type.full_name}} Reference</th>
						<th>Boolean</th>
						<th>Twitter Boolean</th>

						<th ng-show="editMode || !idView"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ref in obj[type.name]">
						<td ng-hide="ref._id">{{ref.name}}</td>
						<td ng-show="ref._id"><a data-ng-href="#!/object/{{ref._id}}">{{ref.name}}</a></td>
						<td>{{ref.boolean}}</td>
						<td>{{ref.twitter_boolean}}</td>

						<td><button ng-show="editMode || !idView" ng-click="removeReference(ref, type.name)">Remove Ref</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="control-group">
		<div class="controls">
			<button ng-show="editMode || !idView" ng-click="saveObject()">Save Object</button>
			<button ng-show="editMode && idView" ng-click="deleteObject(obj, 'to')">Delete Object</button>
		</div>
	</div>
</section>