<section data-ng-controller="ObjectsShowController">
	<div class="form-horizontal">
		<button ng-show="idView" ng-click="editToggle()">Edit</button>

		<div class="control-group">
			<label class="control-label" for="title">Name</label>
			<div class="controls">
				<input ng-show="editMode" type="text" data-ng-model="obj.name" id="name" placeholder="Name" required>
				<div ng-hide="editMode">{{obj.name}}</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">Boolean</label>
			<div class="controls">
				<textarea ng-show="editMode" data-ng-model="obj.boolean" id="boolean" cols="30" rows="10" placeholder="Boolean"></textarea>
				<div ng-hide="editMode">{{obj.boolean}}</div>
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button ng-hide="addingMode" ng-click="addReferenceName()">Add Reference</button>
			<div ng-show="addingMode">
				<input type="text" data-ng-model="addedRefName" id="addedRefName" bs-typeahead="typeaheadFn"></input>
				<button ng-click="saveNewRef()">Save</button>
			</div>
		</div>
		<table ng-show="obj.references" class="controls table table-condensed">
			<thead>
				<tr>
					<th>Referenced By</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ref in obj.references">
					<td ng-hide="ref._id">{{ref.name}}</td>
					<td ng-show="ref._id"><a data-ng-href="#!/object/{{ref._id}}">{{ref.name}}</a></td>
					<td><button ng-click="removeReference(ref)">Remove Ref</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="control-group">
		<div class="controls">
			<button ng-click="saveObject()">Save Object</button>
			<button ng-show="obj._id" ng-click="deleteObject(obj)">Delete Object</button>
		</div>
	</div>

	

</section>